body {
    color: #ecf2f8;
    font-family: 'Hubot-Sans 400', sans-serif;
    padding: 20px 25px;
}

code {
    display: block;
    white-space: pre-wrap   

}

blockquote {
    background-color: rgba(33,38,45,1);
	border-left:	4px solid #ccc;
	margin:			0px 20px;
	padding:		1px;
}

pre {
    margin: 0px 20px;
}

h2 {
    padding: 0 10px;
}
h3 {
    padding: 0 10px;
}
p {
    padding: 0 20px;
}

h1:after
{
    content:' ';
    display:block;
    border:1px solid #89929b;
}

h2:after
{
    content:' ';
    display:block;
    border:1px solid #89929b;
}

h3:after
{
    content:' ';
    display:block;
    border:1px solid #89929b;
}

a {
    color: #77bdfb;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
